@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Manrope:wght@800&display=swap');

:root {
  --text-color: hsl(193, 38%, 86%);
  --advice-dice-color: hsl(150, 100%, 66%);
  --advice-card-color: hsl(217, 19%, 24%);
  --background-color: hsl(218, 23%, 16%);
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
}

.container {
  display: flex;
  flex-direction: column;
  font-family: "Kumbh Sans", sans-serif;
  align-items: center;
  justify-content: center;
  background-color: var(--advice-card-color);
  height: auto;
  width: 350px;
  border-radius: 10px;
}

.container .advice{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  font-size: 14px;
  color: var(--advice-dice-color);
  letter-spacing: 7px;
}

.container .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 30px 0px;
  color: white;
  font-weight: 800;
  line-height: 1.5em;
  font-size: 18px;
  max-width: 300px;
}

.container .divisor {
  padding-top: 30px;
  max-width: 300px;
}

button {
  background-color: var(--advice-dice-color);
  transform: translateY(50%);
  width: 60px;
  height: 60px;
  padding-top: 4px;
  border: none;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

button:hover {
  cursor: pointer;
}